<app-viewnavbar></app-viewnavbar>
<div class="container">
  <div class="row mt-4">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <h1 class="text-center text-primary mb-4">Friends Details</h1>
        </div>
        <ng-container *ngFor="let i of friends">
          <ng-container
          *ngIf="i.name!=null && i.friendName!=null && i.DescribeYourFriend!=null && i.friendNickName!=null">
            <ng-container
            *ngIf="i.name!='' && i.friendName!='' && i.DescribeYourFriend!='' && i.friendNickName!=''">
              <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card">
                  <div class="card-body text-center">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle mb-3"
                      style="width: 150px;" alt="Avatar" />
                    <h5 style="height:2rem;" class="mb-2"><strong>{{i.name}}</strong></h5>
                    <p style="height:1rem;" class="text-muted">Friend Name: {{i.friendName}}</p>
                    <p style="height:1rem;" class="text-muted">Description: {{i.DescribeYourFriend}}</p>
                    <p style="height:1rem;" class="text-muted">NickName: {{i.friendNickName}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </div>
  