<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <h1 class="text-primary">Door for Employees</h1>
                    </div>
                    <div class="row mt-5">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-4">
                            <label for="" class="form-label text-secondary">Employee Id</label>
                            <input type="text" class="form-control" name="empid" [(ngModel)]="empid" placeholder="Enter employee id...">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label text-secondary">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter password...">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 d-flex justify-content-center">
                            <button class="p-2 btn btn-outline-dark mx-3" routerLink="/employeereg"><-- Need to register first</button>
                            <button class="btn btn-primary p-2 mx-3" (click)="readValues()">Get inside --></button>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5 d-flex justify-content-center">
                    <img height="400px" src='assets/images/emp_login.svg' alt="">
                </div>
            </div>
        </div>    
    </div>
</div>