<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex justify-content-center">
                    <img height="300px" src="assets/images/emp_reg.svg" alt="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                            <h1 class="text-primary">Fill your details</h1>
                        </div>
                        <div class="row mt-5 g-3">
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Employee Id</label>
                                <input type="text" class="form-control" name="empid" [(ngModel)]="empid" placeholder="Enter employee id...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">First Name</label>
                                <input type="text" class="form-control" name="firstname" [(ngModel)]="firstname" placeholder="Enter first name...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Last Name</label>
                                <input type="text" class="form-control" name="lastname" [(ngModel)]="lastname" placeholder="Enter last name...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">House Number</label>
                                <input type="text" class="form-control" name="houseno" [(ngModel)]="houseno" placeholder="Enter house no...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Street name</label>
                                <input type="text" class="form-control" name="streetname" [(ngModel)]="streetname" placeholder="Enter Street name...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Pin Code</label>
                                <input type="text" class="form-control" name="pincode" [(ngModel)]="pincode" placeholder="Enter pincode...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">District</label>
                                <input type="text" class="form-control" name="district" [(ngModel)]="district" placeholder="Enter district...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">State</label>
                                <input type="text" class="form-control" name="state" [(ngModel)]="state" placeholder="Enter state...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Country</label>
                                <input type="text" class="form-control" name="country" [(ngModel)]="country" placeholder="Enter country...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Mobile</label>
                                <input type="text" class="form-control" name="mobile" [(ngModel)]="mobile" placeholder="Enter mobile...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Email</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="Enter email...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Parent Name</label>
                                <input type="text" class="form-control" name="parentname" [(ngModel)]="parentname" placeholder="Enter parent name...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Gender</label>
                                <input type="text" class="form-control" name="gender" [(ngModel)]="gender" placeholder="Enter gender...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Highest Degree</label>
                                <input type="text" class="form-control" name="degree" [(ngModel)]="degree" placeholder="Enter degree...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Year of Experience</label>
                                <input type="text" class="form-control" name="experience" [(ngModel)]="experience" placeholder="Enter experience...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Date of Joining</label>
                                <input type="date" class="form-control" name="doj" [(ngModel)]="doj">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Username</label>
                                <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Enter username...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Password</label>
                                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter password...">
                            </div>
                            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label text-secondary">Confirm Password</label>
                                <input type="password" class="form-control" name="cpassword" [(ngModel)]="cpassword" placeholder="Enter password once more...">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 d-flex justify-content-center mb-5 mt-5">
                                <button class="p-2 btn btn-outline-dark mx-3" routerLink="/employeelogin"><-- Go back</button>
                                <button class="btn btn-primary p-2 mx-3" (click)="readValues()">Submit Details --></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>