<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.nestdigital.com/images/banner1.jpg" class="d-block w-100"
                                    alt="...">
                                <div style="top:20%;bottom: auto; left: 20%;right:auto; text-align: left;" class="carousel-caption d-md-block text-dark ">
                                    <h1 style="font-size: 4rem;color: rgb(9, 116, 255);">Engineering<br>Transformation</h1><br>
                                    <h5>Exponential value creation by transforming<br> your legacy Business,Customer and Operation<br>models through </h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.nestdigital.com/images/banner2.jpg" class="d-block w-100"
                                    alt="...">
                                <div style="top:30%;bottom: auto; left: 20%;right:auto; text-align: left;" class="carousel-caption d-md-block text-dark ">
                                    <h1 style="font-size: 4rem;color: rgb(9, 116, 255);">Digital Platforms</h1><br>
                                    <h5>We combine our deep domain expertise, reusable<br>digital platforms and complimentary services to<br>deliver world class solutions that brings </h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://www.nestdigital.com/images/banner3.jpg" class="d-block w-100"
                                    alt="...">
                                <div style="top:30%;bottom: auto; left: 20%;right:auto; text-align: left;" class="carousel-caption d-md-block text-dark ">
                                    <h1 style="font-size: 4rem;color: rgb(9, 116, 255);">Digital<br>Transformation<br>Services</h1><br>
                                    <h5>A spectrum of services and solutions to accelerate your </h5>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 mb-5">
                    <div class="row">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mb-5">
                            <h1>Industries</h1>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-car mb-3"></i>
                            <h5>Transportation</h5>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-suitcase-medical mb-3"></i>
                            <h5>HealthCare</h5>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-building-columns mb-3"></i>
                            <h5>BFSI</h5>
                        </div>
                        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-center mt-5">
                            <i style="font-size:2.5rem;" class="fa-solid fa-industry mb-3"></i>
                            <h5>Power & Industrial</h5>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>